.header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & h1 {
        font-size: 3rem;
        color: #ffffff;
    }
    &__user {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & ul {
            & li {
                list-style: none;
                padding: 5px 15px;
                & h4 {
                    font-size: 1.3rem;
                    color: #ffffff;
                }
            }
        }
        & h2 {
            margin: 0 15px;
        }
    }
}
