.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__headerLogin {
        text-align: center;
        & h1 {
            text-transform: uppercase;
        }
    }
    &__formLogin {
        width: 25rem;
        padding: 35px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 1px solid blue;
        &__input {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
        & span {
            margin-top: 10px;
            text-align: center;
            font-size: 0.9rem;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            & button {
                width: 6.5rem;
                height: 2.5rem;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                background-color: grey;
                color: #fff;
            }
        }
    }
    &__footerLogin {
        width: 100vw;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
            margin: 10px;
        }
    }
}
