@import "../styles/variables";
@import "../styles/mixins";

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__headerLogin {
        width: 100%;
        height: auto;
        text-align: center;
        & h1 {
            font-size: 3.5rem;
            color: $color-font;
        }
        & h2 {
            color: $color-font;
        }
    }
    &__formLogin {
        width: 25rem;
        padding: 35px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: none;
        background-color: $color-font;
        box-shadow: 0 2px 5px #979998;
        &__input {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }
        &__messageError {
            align-self: center;
            color: salmon;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            & button {
                @include btnStyles;
            }
        }
    }
    &__footerLogin {
        width: 100vw;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-font;

        & a {
            margin: 10px;
            &:hover {
                text-decoration: underline;
                font-weight: 500;
            }
        }
    }
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 414px) {
    .container {
        &__formLogin {
            width: 20rem;
        }
    }
}
